.container {
  position: relative;
  /* overflow-y: hidden; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 20px;
}

.forecastContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chartContainer {
  height: 100%;
}

.sliderContainer {
  margin-right: 35px;
  margin-left: 20px;
}

.textContainer {
  margin-left: 8px;
  margin-bottom: 20px;
}
