.container {
  min-height: 280px;
  width: 400px;
  border: 1px solid black;
  padding: 20px 30px;
}

.forMapContainer {
  background: white;
  opacity: 0.85;
}

.localTimeContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.degreeValue {
  align-self: flex-start;
  flex: 1;
}

.imageContainer {
  margin-left: 20px;
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.valueContainer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
