.autoCompleteContainer {
  background: white;
  border: 1px solid grey;
  max-height: 300px;
  overflow: auto;
}

.spinner {
  position: fixed;
  top: 40px;
  right: 35px;
  width: 20px;
  margin-left: auto;
  z-index: 10;
}
