.autoCompleteContainer {
  background: white;
  border: 1px solid grey;
  max-height: 300px;
  overflow: auto;
}

.spinner {
  position: absolute;
  top: 19px;
  right: 20px;
  width: 20px;
  margin-left: auto;
  z-index: 10;
}

.subContainer {
  position: relative;
}
