.paper {
  overflow-y: auto;
  height: 100%;
  position: absolute;
  right: 0;
  padding-left: 15px;
  padding-bottom: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}

.windIconContainer {
  margin-left: 16px;
  margin-right: 10px;
}

.windContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.otherContainer {
  margin-left: 25px;
}

.weatherInfoContainer {
}
