.airGauge {
  margin-left: 25px;
  display: flex;
  margin-top: 25px;
  align-items: center;
  height: 60px;
}

.airGauge:hover {
  cursor: pointer;
  background: #f7f7f7;
}

.typoAirGauge {
  margin-left: 30px !important;
  margin-bottom: 25px !important;
}

.mainContainer {
  width: 315px;
  padding-left: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}

.otherContainer {
  /* border-left: 1px solid rgba(0, 0, 0, 0.12); */
}

.otherContainer > div {
  background: #fdfdfd;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
