.selectContainer {
  width: 100px;
  margin-bottom: 40px;
}

.container {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.chartContainer {
  min-height: 280px;
  padding: 20px 10px 20px 30px;
  background: #18163d;
  border-radius: 5px;
  position: relative;
  height: 50vh;
}
