.selectContainer {
  width: 100px;
  margin-bottom: 40px;
}

.container {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.chartContainer {
  /* min-height: 280px; */
  /* height: calc(50% - 20px); */
  padding: 10px;
  background: #18163d;
  border-radius: 5px;
  height: 100%;
}
