.locationContainer {
  margin-top: 10px;
}

.temperatureContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.icon {
  margin-left: 35px;
}

.descriptionContainer {
  margin-top: 15px;
}

.feelsLikeContainer {
  margin-top: 10px;
}

.leftWeatherContainer {
  flex-grow: 1;
}

.rightWeatherContainer {
  width: 210px;
  height: 160px;
  border: 1px solid black;
}

.rightContainer {
  width: 360px;
}

.weatherContainer {
  display: flex;
  flex-grow: 1;
  padding-top: 48px;
  padding-right: 20px;
}

.mainContainer {
  display: flex;
  flex: 1;
}
