.container {
  padding-left: 48px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

table.calendarTable {
  border-spacing: 10px;
}

.calendarTable thead tr th {
  padding-bottom: 10px;
}

.selectContainer {
  margin-bottom: 10px;
}
