.container {
  position: relative;
  overflow-y: hidden;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

table.calendarTable {
  border-spacing: 10px;
}

.calendarTable thead tr th {
  padding-bottom: 10px;
}

.selectContainer {
  margin-bottom: 10px;
}

.subContainer {
  padding-left: 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 48px;
  height: 100%;
}

.textInfoContainer {
  margin-right: 20px;
}

.textInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.otherContainer {
  margin-left: 25px;
}

.justifyEnd {
  justify-content: flex-end;
}
