.container {
  display: flex;
  align-items: center;
  height: 100%;
  background: #131231;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.55);
}

.container > div {
  border-right: 2px solid #202043;
  height: 100%;
  padding-top: 1.5%;
}

.countryTemp {
  width: 16%;
  padding-left: 1%;
  padding-bottom: 1.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.temperature {
  display: flex;
  align-items: flex-end;
}

.temperatureIcon {
  margin-right: 1%;
}

.graphTemp {
  width: 10%;
}

.weatherInfo {
  width: 30%;
}

.precipitationGraph {
  width: 26%;
}

.airGraph {
  width: 10%;
}

.controlButtons {
  width: 8%;
}
