.mapContainer {
  height: 100%;
  position: absolute;
  z-index: 10;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
}

.favoriteContainer {
  z-index: 20;
  position: absolute;
  top: 20px;
  left: 20px;
}
