.mainContainer {
  min-height: 175px;
  /* padding: 0 20px; */
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.highlight {
  background: #f7f7f7;
}

.weatherContainer {
  display: flex;
  flex-direction: column;
}

.iconContainer {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.dayContainer {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.nightContainer {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
