.container {
  min-width: 130px;
  background: #131231;
  padding: 8px;
  border-radius: 10px;
}

.container:hover {
  cursor: pointer;
}

/* .container:not(:last-child) {
  margin-right: 13px;
} */

.timeContainer {
  display: flex;
  justify-content: space-between;
}

.temperatureContainer {
  display: flex;
}

.imageContainer {
  max-width: 64px;
  max-height: 54px;
}

.imageResponsive {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
